button {
  background-color: #5932ea;
  border: none;
  color: white;
  font-weight: 700;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
}
