.hero-bg-success {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 0px;
  padding-bottom: 20px;
  margin: 80px auto;
  max-width: 500px;
}
.success-image img {
  width: 100%;
  margin-bottom: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.text-container h1 {
  font-size: 2.2rem;
  padding-left: 10px;
  font-weight: 600;
  color: #1a0710;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.button-container {
  width: 80%;
  padding-left: 20px;
}

.button-container .button {
  padding: 1rem 0;
  font-size: 1rem;
  width: 420px;
  border-radius: 8px;
}

/* Responsive */
@media (max-width: 480px) {
  .text-container h1 {
    font-size: 1.6rem;
  }

  .success-image img {
    width: 200px;
  }
}
